#main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card-wrapper{
    .card-id{
        float: right;
        font-size: 12px;
    }
    background-color: #C5CAE9;
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
    width: 200px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    .card-item{
        &.card-title{
            font-size: 16px;
            margin: 5px 0 0px 0;
            font-weight:bold;
        }
        &.card-meta-data{
            font-size: 12px;
            margin-bottom: 20px
        }
    }
}

.card-wrapper:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.button{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 12px;
    background-color: #3f51b5;
    min-width: 50px;
    width: fit-content;
    border-radius: 5px;
    color: white;
    margin: 10px;
}

.clickable{
    cursor: pointer;
}

.clickable:active {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    transform: translateX(2px) translateY(2px);
}

.clicked{
    background-color: red;
    cursor: not-allowed;
}

.pagination-controls{
    .left{
        float: left;
    }
    .right{
        float: right;
    }
}